.header__logo {
    background-image: url(../../../images/logo.svg);
    background-size: cover;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        width: 40px;
        height: 40px;

    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 24px;
        height: 24px;
        margin-top: 16px;
        margin-left: 16px;
    }
}