.player__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}


@media screen and  (max-width: 767px) {
  .player__buttons {
    margin-left: 0;
    margin-top: 21px;
  }
}