

.player__text {
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }

    80%{
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}