.streamings__list-item {
    margin-bottom: 8px;
    transition: opacity .1s linear;
}

.streamings__list-item:nth-last-child(1) {
    margin-bottom: 0;
}

@media (max-width: 320px) {
    .streamings__list-item {
        margin-bottom: 6px;
    }
}
