
.form {
  max-width: 597px;
}

.form__title {
  font-family: Inter, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  margin: 0;
}

.form__inputs {
  display: flex;
  flex-direction: column;
}

.form__submit  {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  background: none;
  margin-top: 84px;
  cursor: pointer;
}

.form__ps{
  margin-top: 40px;
  margin-bottom: 60px;
}
.form__label-text_link{
  color: black;
}