.info {
  max-width: 716px;
}

.info__title {
  font-family: Inter, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  margin: 60px 0 0;
}

.info__title:first-of-type {
  margin: 0;
}

.info__paragraph {
  margin: 44px 0 0;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.info__thesis-items {
  list-style: none;
  padding: 0;
  margin: 44px 0 0;
}

.info__thesis-item {
  margin-top: 30px;
}

.info__thesis-item:first-of-type {
  margin-top: 0;
}