body {
    margin: 0;
    background-color: #000;
    border: darkgray 1px solid;
}

.root {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
    background-color: #000000;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .root {
        font-size: 12px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .root {
        font-size: 15px;
    }
}
