.player__release {
	margin-top: 16px;
	font-style: italic;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

@media screen and (max-width: 1024px) {
	.player__release {
		font-size: 18px;
		line-height: 22px;
		margin-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	.player__release {
		font-size: 14px;
		line-height: 19px;
		margin-top: 10px;
	}
}