@font-face {
    src: url('Inter-Regular.woff') format('woff'),
    url('Inter-Regular.woff2') format('woff2');
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('Inter-Medium.woff') format('woff'),
    url('Inter-Medium.woff2') format('woff2');
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
}