.player__song-text {
    font-family: 'Inter', Helvetica, Arial, serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    margin-top: 12px;
}

@media screen and (max-width: 1024px) {
    .player__song-text {
        font-size: 18px;
        line-height: 22px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    .player__song-text {
        font-size: 14px;
        line-height: 19px;
        margin-top: 10px;
    }
}