.form__submit  {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    background: none;
    margin-top: 84px;
    cursor: pointer;
}
