.form__submit  {
    line-height: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 100%;
    background: none;
    margin-top: 84px;
    cursor: pointer;
    padding: 20px;
    font-size: inherit;
}

.form__submit:hover {
    font-style: italic;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .form__submit {
        padding: 11px 20px;
    }
}
