* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.menu-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

.menu-trigger {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: transparent;
    width: 199px;
    height: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    padding: 4px 6px;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    outline: none;
}

.menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu {
    background: transparent;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu li {
    width: fit-content;
    height: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 10px;

}

.menu li:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 10px;
    display: block;
}


.streams {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
  }

.streams__open-btn {
    display: none;
    padding: 7px 16px 7px 16px;
    margin-bottom: 6px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 12px;
}
  
.streamings__open-btn:hover {
    opacity: .6;
}
  
.streamings__open-btn:focus {
    outline: none;
}
  
@media screen and (max-width: 320px) {
  .streamings__open-btn {
      display: inline-block;
  }
}
  
.streams__open-btn_isClicked {
    border-radius: 50%;
    width: 29px;
    height: 29px;
    padding: 0;
    background: url('../../images/streamings-cls-btn.svg') no-repeat center;
  }

.streams__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none
  }
  
@media screen and (max-width: 320px) {
    .streams__list {
      transform: scaleY(0);
    }
}

.streams__list-item {
  margin-bottom: 10px;
  transition: opacity .1s linear .1s;
}
      
.streams__list-item:nth-last-child(1) {
  margin-bottom: 0;
}
      
.streams__list-item:hover {
  opacity: .8;
}
      
@media screen and (max-width: 320px) {
    .streams__list-item {
          margin-bottom: 6px;
    }
}

.streams__list_type_mobile {
    transform:scaleY(1);
    transition:transform .3s ease-out;
    transform-origin:top;
  }