.streamings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    margin-right: 15px;
    padding: 0;
    height: 200px;
}


@media screen and (max-width: 767px) {
    .streamings {
        margin-top: 13px;
        margin-right: 13px;

    }
}