.player {
    box-sizing: border-box;
    padding: 0 25px 30px;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 35px 1fr max-content 42px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "cover player player buttons more-btn"
        "cover .      more   more    .       "
}

@media screen and (max-width: 768px) {
    .player {
        grid-template-columns: 35px min-content 1fr max-content 44px;
        grid-template-areas:
        "player player player buttons more-btn"
        ". cover more more ."
    }
}

@media screen and (max-width: 480px) {
    .player {
        padding: 0 14px 30px;
        padding-bottom: 20px;
        grid-template-rows: min-content min-content min-content 1fr;
        grid-template-columns: 26px min-content 1fr 26px;
        grid-template-areas:
        "player player  player  more-btn"
        ".      cover   cover   .         "
        ".      buttons buttons .         "
        ".      more    more    .         " 

    }
}

.player__control {
    grid-area: player;
    display: grid;
    grid-template-columns: 30px 1fr min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "btn track-title timer"
        ". line line"
}

@media screen and  (max-width: 480px) {
    .player__control {
        margin-left: 0;
    }
}

.player__cover {
    grid-area: cover;
    border-radius: 4px;
    margin: 0 auto;
    margin-right: 27px;
}

@media screen and  (max-width: 1023px) {
    .player__cover {
        width: 112px;
        height: 112px;
        margin-right: 30px;
    }
}

@media screen and  (max-width: 768px) {
    .player__cover {
        margin-top: 21px;
    }
}

@media screen and  (max-width: 480px) {
    .player__cover {
        width: 240px;
        height: 240px;
        margin-right: auto;
    }
}


