
.player__control {
    display: flex;
}

.player {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .player {
        padding: 0px 15px 30px;
    }
}

.player__additional-container {
    display: flex;
}

.player__info-container {
    width: 100%;
}

@media screen and  (max-width: 767px) {
    .player__additional-container {
        flex-direction: column;
    }
}