@import "./__button/_type/_play/player__button_type_play.css";
@import "./__button/_type/_additional/player__button_type_additional.css";
@import "./__button/_type/_switcher/player__button_type_switcher.css";
@import "./__releases/player__releases.css";
@import "./__releases/_type/player__releases_type_hidden.css";
@import "./__release/player__release.css";
@import "./__title/player__title.css";
@import "./__row/player__row.css";
@import "./__list/player__list.css";
@import "./__text/_type/player__text_type_hidden.css";
@import "./__text/player__text.css";
@import "./__time-remaining/player__time-remaining.css";
@import "./__wrapper/player__wrapper.css";
@import "./__progressbar/player__progressbar.css";
@import "./__progressbar/_type/player__progressbar_type_gone.css";
@import "./__progressbar/_type/player__progressbar_type_left.css";
@import "./__container/_type/player__container_type_hidden.css";
@import "./__container/player__container.css";
@import "./__lyrics/player__lyrics.css";
@import "./__button/_type/_hideplay/player__button_type_hideplay.css";
@import "./__button/_type/_pause/player__button_type_pause.css";
@import "./__text-title/player__text-title.css";
@import "./__song-text/player__song-text.css";
@import "./__track-title/player__track-title.css";

.player__control {
    display: flex;
}

.player { 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 25px 30px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .player {
        padding: 0px 15px 30px;
    }
}

.player__additional-container {
    display: flex;
}
.player__info-container {
    width: 100%;
}

@media screen and  (max-width: 767px) {
    .player__additional-container {
        flex-direction: column;
    }
}