.player__button_type_play {
    grid-area: btn;
    background-position: center;
    background-image: url('../../../../../images/play.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    align-self: baseline;
    border: none;
    width: 20px;
    height: 16px;
    margin: 4px 0px;
    cursor: pointer;
}

.player__button_type_play {
    outline: none;
}

@media screen and (max-width: 767px) {
    .player__button_type_play {
        width: 18px;
        height: 15px;
    }
}

@media screen and (max-width: 767px) {
    .player__button_type_play {
        width: 16px;
        height: 13px;
    }
}