.player__button_type_more {
    background-position: center;
    background-image: url('../../../../../images/more.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 20px;
    width: 24px;
    height: 24px;
    outline: none;
}

@media screen and (max-width: 767px) {
    .player__button_type_more {
        margin: 2px 11px 2px;
        width: 16px;
        height: 16px;
    }
}