
.form {
    max-width: 600px;
    margin-top: 100px;
}

@media screen and (max-width: 1024px) {
    .form {
        margin-top: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .form {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .form {
        margin-top: 60px;
    }
}