.form__input {
  background: none;
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 19px 24px;
  color: #000000;
  margin-top: 16px;
}

.form__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1; /* Firefox */
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
} 

.visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid black;
  box-sizing: border-box;
}

.invisible-checkbox:checked + .visible-checkbox {
  background-image: url('https://code.s3.yandex.net/web-code/tick.svg');
}

.invisible-checkbox:disabled + .visible-checkbox  {
  border: 1px solid grey;
}

.invisible-checkbox:disabled:checked + .visible-checkbox  {
  background-image: url('https://code.s3.yandex.net/web-code/tick_grey.svg');
}

.invisible-checkbox:focus + .visible-checkbox  {
  box-shadow: 0 0 5px #fff6c5;
}

.form__input_textarea {
  min-height: 246px;
  resize: none;
}

.form__input_text::placeholder {

}

.checkbox {
  margin-top: 34px;
}

.form__label-text {
  margin-right: 14px;
}