.form__input {
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 19px 0;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    margin: 16px 0 0;
    outline: none;
}

.form__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);
    opacity: 1; /* Firefox */
    font-family: inherit;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.visible-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    cursor: pointer;
}


.invisible-checkbox:checked + .visible-checkbox {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: black;
}

.invisible-checkbox:disabled + .visible-checkbox {
    border: 1px solid grey;
}

.invisible-checkbox:disabled:checked + .visible-checkbox {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid black;
}

.invisible-checkbox:focus + .visible-checkbox {
    box-shadow: 0 0 5px #fff6c5;
}


.checkbox {
    margin-top: 34px;
}

